body{
  background-image: url(https://img.freepik.com/free-vector/autumn-leaves-background_23-2149041913.jpg?w=1060&t=st=1698332414~exp=1698333014~hmac=ef706106e8a7bcd2099ac6047a3066b023cfb8ecac9c77e894e2e2117b301442);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.container {
  display: flex;
  justify-content: center;
}
button{
  background-color: #AC3F21;
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
  border: none;
  margin-top: 20px;
}
.btn{
  background-color: #EB8242;
}
h1{
  color: #C24914;
  font-size: 40px;
}
h2{
  color: #61764B;
}
.heading{
  color: #6E2142;
  font-size: 50px;
}
.btnCont{
  display: flex;
  justify-content: space-evenly;
  
}
.btn2{
  background-color: #6E2142;
}
h3{
  font-size: 25px;
}